
@{
    ViewBag.Title = "Connection";
}

<!--Formulaire de Connexion-->
<form method="post">
	<!--Login-->
	<input id="login" name="login" class="form-control" type="text" placeholder="Login" required />
	<!--Mot de Passe-->
	<input id="password" name="password" class="form-control" type="password" placeholder="Password" required />
	<!--Bouton de Connexion-->
	<input class="btn btn-info btn-circle btn-lg" type="submit" value="Connection"/>
</form>

